:root{
    --col-black: #121212;
    --col-white: #f1f1f1;
}

body{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
    
}

a{
    text-decoration: none;
    color: var(--col-white);

}



.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;

}


.left_container{
    background-color: var(--col-black);
    color: var(--col-white);
    display: grid;
    padding-top: 1.5rem;
}

.content_left{
    width: 900px;
    justify-self: center;
    /* animation: fadeIn 1s linear; */

 
}

.right_container{
    background-color: var(--col-white);
    display: grid;
    padding-top: 1.5rem;

}

.content_right{
    /* background-color: rgba(0, 255, 255, 0.205); */
    width: 900px;
    justify-self: center;
    /* animation: fadeIn 0.5s linear; */


}

@media screen and (max-width: 1900px){
 
    .content_left{
        width: 800px;
   
    }
    .content_right{
        width: 800px;
       
    }
}

@media screen and (max-width: 1700px){
 
    .content_left{
        width: 700px;
   
    }
    .content_right{
        width: 700px;
       
    }
}

@media screen and (max-width: 1500px){
 
    .content_left{
        width: 600px;
   
    }
    .content_right{
        width: 600px;
       
    }
}
@media screen and (max-width: 1300px){
 
    .content_left{
        width: 500px;
   
    }
    .content_right{
        width: 500px;
       
    }
}

@media screen and (max-width: 1100px){
    .wrapper{
        grid-template-columns: 1fr;
    }
    .content_left{
        width: 100%;
        padding: 0;


    }
    .content_right{
        width: 100%;
        padding: 0;

    }
}
    



/* Fade in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(1%);
      }
      to {
        opacity: 1;
        transform: translateY(0%);
      }
  }
  
  /* Add animation to element */
  .fade-in {
    animation: fadeIn 1s linear;
  }